

<div class="container">

    <h1 style="text-align: center;"> Admin Login</h1>


<form action="/admin/login" method="post">

  <input type="email" name="email" placeholder="enter your email"> <br><br>
  <input type="password" name="password" placeholder="enter your password"><br><br><br>

  <input type="submit" value="Login">

</form>

</div>