



<script>


    function addCart(id){
    
        fetch(`/addCart?id=${id}` , {method : 'post'})
    
        .then(res => res.json())
    
            .then(data =>{
    
                
                if(data.exist){
                    
                  const Toast = Swal.mixin({
    
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
    
                    didOpen: (toast) => {
    
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
    
                  });
                  
                    Toast.fire({
    
                        icon: "warning",
                        title: "Already Added"
    
                    });
    
                }else if(data.success){
                                
                    const Toast = Swal.mixin({
    
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
    
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
    
                    Toast.fire({
    
                        icon: "success",
                        title: "Added TO Cart"
                        
                    });
                }
    
    
            })
    
    };
    
    //	Out Of Stock :-
    
    const cart = document.getElementById('crt');
    const button = document.getElementById('btns')
    const stock = document.getElementById('stock');
    
    
    if (stock.value == 0) {
        cart.textContent = 'Out of stock';
        cart.classList.add('text-danger'); 
        button.disabled = true;
    } else {
        cart.textContent = 'Add To Cart';
        cart.classList.remove('text-danger');
        cart.classList.add('text-dark'); 
        button.disabled = false; 
    }
    
        //  Search :-
    
        function search(val){
            console.log(val)
    
            const cards = document.getElementById('cards')
    
            const result = document.getElementById('result')
    
            //sending the value to back
    
            fetch('/searchProduct',{
    
                method:'put',
    
                headers:{'Content-Type':'application/json'},
    
            body:JSON.stringify({items:val.value})})
            
            //after the result
    
            .then(res => res.json())
    
            .then(data =>{
                
                if(data.length==0){
    
                    result.innerHTML='Could not find that product'
                    result.classList.add('text-danger')
                    result.classList.add('justify-content-center')
    
                }else{
    
                    // 
    
                    result.innerHTML= `${data.map((product,i) => (
                        
                    `<div id="cards"class="col-6 col-md-4 col-lg-4">
                        
                    <div class="product product-7 text-center">
                        
                    <figure class="product-media">
    
                        <a href='/productDetails?id=${product._id}'>
                            <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                        </a>
    
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div><!-- End .product-action-vertical -->
    
                        <input hidden value="${product.stock}" id="stock">
    
                        <div class="product-action">
                            <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                        </div><!-- End .product-action -->
    
                    </figure><!-- End .product-media -->
    
                    <div class="product-body">
    
                        <div class="product-cat">
                            <a href="#">${product.name}</a>
                        </div><!-- End .product-cat -->
    
                        <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                        <div class="product-price">
                            ${product.price}.00
                        </div><!-- End .product-price -->
    
                        <div class="ratings-container">
    
                            <div class="ratings">
                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
    
                        </div><!-- End .rating-container -->
    
                    </div><!-- End .product-body -->
    
                </div><!-- End .product -->
    
            </div>`
    
                )).join('')}`
    
            }
    
        });
    
    };
    
    //	Price Low to High :-
    
    function lowTohigh(){
    
    const item = document.getElementById('lowTohigh');
    const result = document.getElementById('result')
    
    const status = true
    
    if(item.checked){
    
        fetch(`/lowTohigh` , {method : 'put' , headers:{'Content-Type':'application/json'} , body : JSON.stringify({status})})
    
        .then(res => res.json())
    
        .then(data => {
    
            if(data){
    
                //   
    
                    result.innerHTML= `${data.map((product,i) => (`
                        
                        <div id="cards"class="col-6 col-md-4 col-lg-4">
                            
                        <div class="product product-7 text-center">
                            
                        <figure class="product-media">
    
                            <a href='/productDetails?id=${product._id}'>
                                <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                            </a>
    
                                <span class="product-label label-new">New</span>
    
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
    
                            <input hidden value="${product.stock}" id="stock">
    
                            <div class="product-action">
                                <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                            </div><!-- End .product-action -->
    
                        </figure><!-- End .product-media -->
    
                        <div class="product-body">
    
                            <div class="product-cat">
                                <a href="#">${product.name}</a>
                            </div><!-- End .product-cat -->
    
                            <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                            <div class="product-price">
                                ${product.price}.00
                            </div><!-- End .product-price -->
    
                            <div class="ratings-container">
    
                                                        <div class="ratings">
    
                                                            <div class="ratings-val" style="width: 20%;"></div>
    
                                                        </div><!--End .ratings-->
                                                        
                                                        <span class="ratings-text">( 2 Reviews )</span>
    
                                                    </div><!--End .rating-container-->
    
                        </div><!-- End .product-body -->
    
                    </div><!-- End .product -->
    
                    </div>
    
                `)).join('')}`
    
            } 
    
        })
    
    } else {
    
        $('#reloadDiv').load('/product #reloadDiv')
    
    }
    
    };
    
    //	Price High to Low :-
    
    function highTolow(){
    
    const result = document.getElementById('result')
    const item = document.getElementById('highTolow')
    
    const status = true
    
    if(item.checked){
    console.log('wert');
        fetch('/highTolow' , {method : 'put' , headers : {'Content-Type':'application/json'} , body : JSON.stringify({status})})
    
        .then(res => res.json())
    
        .then(data => {
    
            if(data){
    
                //   
    
                    result.innerHTML= `${data.map((product,i) => (`
                        
                        <div id="cards"class="col-6 col-md-4 col-lg-4">
                            
                        <div class="product product-7 text-center">
                            
                        <figure class="product-media">
    
                            <a href='/productDetails?id=${product._id}'>
                                <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                            </a>
    
                                <span class="product-label label-new">New</span>
    
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
    
                            <input hidden value="${product.stock}" id="stock">
    
                            <div class="product-action">
                                <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                            </div><!-- End .product-action -->
    
                        </figure><!-- End .product-media -->
    
                        <div class="product-body">
    
                            <div class="product-cat">
                                <a href="#">${product.name}</a>
                            </div><!-- End .product-cat -->
    
                            <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                            <div class="product-price">
                                ${product.price}.00
                            </div><!-- End .product-price -->
    
                            <div class="ratings-container">
    
                                                        <div class="ratings">
    
                                                            <div class="ratings-val" style="width: 20%;"></div>
    
                                                        </div><!--End .ratings-->
                                                        
                                                        <span class="ratings-text">( 2 Reviews )</span>
    
                                                    </div><!--End .rating-container-->
    
                        </div><!-- End .product-body -->
    
                    </div><!-- End .product -->
    
                    </div>
    
                `)).join('')}`
    
            } 
    
        })
    
    } else {
    
        $('#reloadDiv').load('/product #reloadDiv')
    
    }
    
    }
    
    //	Acending Product Name :-
    
    function acendingLetter(){
    
    const item = document.getElementById('abc');
    const result = document.getElementById('result')
    
    const status = true
    
    if(item.checked){
    
        fetch(`/sortProduct` , {method : 'put' , headers:{'Content-Type':'application/json'} , body : JSON.stringify({status})})
    
        .then(res => res.json())
    
        .then(data => {
    
            console.log("data");
    
            if(data){
    
                  
    
                    result.innerHTML= `${data.map((product,i) => (`
                        
                        <div id="cards"class="col-6 col-md-4 col-lg-4">
                            
                        <div class="product product-7 text-center">
                            
                        <figure class="product-media">
    
                            <a href='/productDetails?id=${product._id}'>
                                <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                            </a>
    
                                <span class="product-label label-new">New</span>
    
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
    
                            <input hidden value="${product.stock}" id="stock">
    
                            <div class="product-action">
                                <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                            </div><!-- End .product-action -->
    
                        </figure><!-- End .product-media -->
    
                        <div class="product-body">
    
                            <div class="product-cat">
                                <a href="#">${product.name}</a>
                            </div><!-- End .product-cat -->
    
                            <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                            <div class="product-price">
                                ${product.price}.00
                            </div><!-- End .product-price -->
    
                            <div class="ratings-container">
    
                                                        <div class="ratings">
    
                                                            <div class="ratings-val" style="width: 20%;"></div>
    
                                                        </div><!--End .ratings-->
                                                        
                                                        <span class="ratings-text">( 2 Reviews )</span>
    
                                                    </div><!--End .rating-container-->
    
                        </div><!-- End .product-body -->
    
                        </div><!-- End .product-body -->
    
                    </div><!-- End .product -->
    
                    </div>
    
                `)).join('')}`
    
            }
        })
    
    } else {
    
        $('#reloadDiv').load('/product #reloadDiv')
        
    }
    
    };
    
    
    function decsendingLetter(){
    
    const item = document.getElementById('zyx');
    const result = document.getElementById('result')
    
    const status = true
    
    if(item.checked){
    
        fetch(`/sortProduct2` , {method : 'put' , headers:{'Content-Type':'application/json'} , body : JSON.stringify({status})})
    
        .then(res => res.json())
    
        .then(data => {
    
            console.log("data");
    
            if(data){
    
                  
    
                    result.innerHTML= `${data.map((product,i) => (`
                        
                        <div id="cards"class="col-6 col-md-4 col-lg-4">
                            
                        <div class="product product-7 text-center">
                            
                        <figure class="product-media">
    
                            <a href='/productDetails?id=${product._id}'>
                                <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                            </a>
    
                                <span class="product-label label-new">New</span>
    
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
    
                            <input hidden value="${product.stock}" id="stock">
    
                            <div class="product-action">
                                <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                            </div><!-- End .product-action -->
    
                        </figure><!-- End .product-media -->
    
                        <div class="product-body">
    
                            <div class="product-cat">
                                <a href="#">${product.name}</a>
                            </div><!-- End .product-cat -->
    
                            <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                            <div class="product-price">
                                ${product.price}.00
                            </div><!-- End .product-price -->
    
                            <div class="ratings-container">
    
                                                        <div class="ratings">
    
                                                            <div class="ratings-val" style="width: 20%;"></div>
    
                                                        </div><!--End .ratings-->
                                                        
                                                        <span class="ratings-text">( 2 Reviews )</span>
    
                                                    </div><!--End .rating-container-->
    
                        </div><!-- End .product-body -->
    
                        </div><!-- End .product-body -->
    
                    </div><!-- End .product -->
    
                    </div>
    
                `)).join('')}`
    
            }
        })
    
    } else {
    
        $('#reloadDiv').load('/product #reloadDiv')
        
    }
    
    };
    // add to wlist
    
    function addWishlist(id){
    
    fetch(`/addWishlist?id=${id}` , {method : 'POST'})
    
    .then(res => res.json()) 
    
    .then(data => {
    
       if(data.suc){
    
            const Toast = Swal.mixin({
    
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
    
                didOpen: (toast) => {
    
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
    
            });
              
            Toast.fire({
    
                icon: "warning",
                title: "Already Added"
    
            });
    
        } else if(data.succ){
    
            const Toast = Swal.mixin({
    
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
    
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
    
            });
    
            Toast.fire({
    
                icon: "success",
                title: "Added TO Wishlist"
                    
            });
    
    
        }
    
    })
    
    };
    
    
    //	Price Filter :-
    
    function priceFilter(){
    
        const min = document.getElementById('min-price').value
        const max = document.getElementById('max-price').value
    
        const result = document.getElementById('result')
        const disErr = document.getElementById('disErr')
        
        fetch(`/priceFilter` , {method : 'put' , headers : {'Content-Type':'application/json'} , body : JSON.stringify({min , max})})
        
        .then(res => (res.json()))
    
        .then(data => {
          
    
            if(data.fail == 'failed'){
                
                disErr.textContent = 'Price Required!!!'
    
            } else if(data.success.length == 0) {
                
                result.innerHTML='Could not find that product'
                result.classList.add('text-danger')
                result.classList.add('justify-content-center')
    
            } else {
                
    
                disErr.innerHTML = ''
    
                
    
                result.innerHTML= `${data.success.map((product,i) => (
                        
                    `<div id="cards"class="col-6 col-md-4 col-lg-4">
                        
                    <div class="product product-7 text-center">
                        
                    <figure class="product-media">
    
                        <a href='/productDetails?id=${product._id}'>
                            <img src="/productImage/${product.image[0]}" alt="Product image" class="product-image">
                        </a>
    
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        </div><!-- End .product-action-vertical -->
    
                        <input hidden value="${product.stock}" id="stock">
    
                        <div class="product-action">
                            <button onclick="addCart('${product._id}')" id="btns" class="btn-product btn-cart border-0 " style="cursor: pointer;"><span id="crt">add to cart</span></button>
                        </div><!-- End .product-action -->
    
                    </figure><!-- End .product-media -->
    
                    <div class="product-body">
    
                        <div class="product-cat">
                            <a href="#">${product.name}</a>
                        </div><!-- End .product-cat -->
    
                        <h3 class="product-title"><a href="/products">${product.category.name}</a></h3><!-- End .product-title -->
    
                        <div class="product-price">
                            ${product.price}.00
                        </div><!-- End .product-price -->
    
                        <div class="ratings-container">
    
                            <div class="ratings">
                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
    
                        </div><!-- End .rating-container -->
    
                    </div><!-- End .product-body -->
    
                </div><!-- End .product -->
    
            </div>`
    
                )).join('')}`
    
    
            }
    
    
        })
    
    
    }
    
    function clean(){
    
        const i = true
    
        if(i == true){
    
            window.location.reload()
    
        }
    
    }
    
    </script>